@{
    ViewBag.Title = "Services";
}

<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <a href="~/fonts/glyphicons-halflings-regular.eot"></a>
    <a href="~/fonts/glyphicons-halflings-regular.ttf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff2"></a>
</head>
<body>

    <div class="wrap">
        <div class="header">
            <div class="header_top">
                <div class="logo">
                    <a href="index.html">
                        <h1>MPHASIS </h1>
                        <h2>AIRLINES</h2>
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li class="active"><a href="../Home/Index">HOME</a></li>
                        <li><a href="../Home/About">ABOUT US</a></li>
                        <li><a href="../Home/Services">SERVICES</a></li>
                        <li><a href="../Home/Contact">CONTACT</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">

                <script src="js/jquery.min.js"></script>
                <script src="js/responsiveslides.min.js"></script>
                <script>
                    // You can also use "$(window).load(function() {"
                    $(function () {
                        // Slideshow 1
                        $("#slider1").responsiveSlides({
                            auto: true,
                            nav: true,
                            speed: 500,
                            namespace: "callbacks",
                        });
                    });</script>

            </div>
        </div>

        <div class="card-container">
            <div class="card">
                <img src="~/images/city.png" style="height:auto" ; width="100" alt="" />
                <div class="card-content">
                    <h2>AIRPORT FINDER</h2>
                    <p>Here, You can find the airports between Two Cities.</p>
                    <div class="read_more"> <h3><a href="#">EXPLORE</a></h3> </div>
                </div>
            </div>
        </div>



        <div class="card-container">
            <div class="card">
                <img src="~/images/state.png" style="height:auto" ; width="100" alt="" />
                <div class="card-content">
                    <h2>STATEWISE AIRPORTS</h2>
                    <p>Here, You can find the airports list inside the states of India</p>
                    <<div class="read_more"> <h3><a href="#"> EXPLORE</a></h3> </div>
                </div>
            </div>
        </div>
        @*<div class="about_data">
                    <div class="about_desc">
                        <h1 style="font-family:'Copperplate Gothic'; font-size:30px"><b>Our Services</b></h1>

                        <div class="service1" style="width:18rem ; float:left">
                            <img src="~/images/city.png" style="height:100px" ; width="100" alt="" />
                            <div class="card1">
                                <h1 style="font-family:'Gill Sans MT'; font-size:20px" class="card-title1">AIRPORT FINDER</h1>
                                <p class="card-text1">Here, You can find the airports between Two Cities.</p>
                                <div class="read_more"> <h3><a href="#">EXPLORE</a></h3> </div>
                            </div>
                            <div class="serv_desc">
                            </div>
                            <div class="clear"></div>
                        </div>



                        <div class="service2" style="width:18rem; float:right">
                            <img src="~/images/state.png" style="height:100px" ; width="100" alt="" />
                            <div class="card1">
                                <h1  style="font-family:'Gill Sans MT'; font-size:20px"class="card-title1">STATEWISE AIRPORTS</h1>
                                <p class="card-text1">Here, You can find the airports list inside the states of India</p>
                                <div class="read_more"> <h3><a href="#">EXPLORE</a></h3> </div>
                            </div>
                            <div class="serv_desc">
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </div>*@

        <div class="footer">

            <div class="copy_right">
                <p style="color:#A9A9A9; font-size:17px"> <b>© 2023 Mphasis Airlines. All Rights Reserved.</b></p>

            </div>
        </div>
</body>
</html>
